html, body, ul, h1, h2, h3, h4, h5, h6, p, fieldset { margin: 0; padding: 0; }
html, body { overflow: initial; }
html { -webkit-font-smoothing: subpixel-antialiased; -webkit-user-select: none; cursor: default; font: 14px/18px "Helvetica Neue", "Helvetica", "Arial", sans-serif; height: 100%; background: #E8EAE3; }
ul, ol { list-style: none; }
:focus { outline: initial; }
button, input, textarea { -webkit-appearance: none; font-family: inherit; font-size: 12px; }
fieldset { border: 0; }

body { background: #E8EAE3; color: #333; }

header { min-height: 50px; background: #0B121E; box-shadow: #0B121E -1px 3px 4px -3px; position: relative; }
header h1 { width: 260px; height: 50px; display: block; text-indent: -9999px; background: url(../images/hme_logo.png) no-repeat 0 0; margin-left: 20px; }

nav#genre_selector { text-align: center; margin-bottom: 20px; }
nav#genre_selector li { display: inline-block; }
nav#genre_selector li a { display: block; padding: 3px 9px; background: #D7D8D4; border-radius: 3px; font-size: 13px; color: #333; text-shadow: 1px 0 0 white; box-shadow: 0px 2px 6px #999; border: 1px solid #BBB; margin: 0px 10px; }

#content { padding: 40px; }

#content section { padding: 40px 10px; border-radius: 5px; background: #fff; overflow: hidden; }

#albums { text-align: center; }
#albums h2 { font-size: 22px; margin-bottom: 30px; }
#albums ul li { display: inline-block; }

.album_wrapper { margin: 10px 20px; width: 150px; }
.album_wrapper .cover { position: relative; }
.album_wrapper .cover .image { display: block; width: 150px; height: 150px; }
.album_wrapper .detail { text-align: center; overflow: hidden; margin-top: 10px; }
.album_wrapper .detail .name { color: #333; font-weight: bold; }
.album_wrapper .detail .artist { color: #666; }
.album_wrapper .detail a { text-decoration: none; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; }
.album_wrapper .detail a:hover { text-decoration: underline; }

.album_wrapper .player { background: transparent url(../images/player.png) no-repeat 0 0; width: 43px; height: 43px; display: block; position: absolute; right: 4px; bottom: 4px; }
.album_wrapper .player.play { background-position: 0 0; }
.album_wrapper .player.play:hover { background-position: -43px 0; }
.album_wrapper .player.play:active { background-position: -86px 0; }
.album_wrapper .player.pause { background-position: 0 -43px; }
.album_wrapper .player.pause:hover { background-position: -43px -43px; }
.album_wrapper .player.pause:active { background-position: -86px -43px; }
.album_wrapper .player.playing { background-position: 0 -86px; }
.album_wrapper .player.paused { background-position: -43px -86px; }